@{
	// Set the title and layout for the page
	ViewData["Title"] = "Store - View Product";
	Layout = "~/Views/Shared/_Layout.cshtml";

}

<!-- Set the model -->
@model int
<!-- Display product detail -->
<h2>Product Detail</h2>
<p>You are viewing product with ID: <strong>@Model</strong></p>
