@{
	// Set the titLe and layout for the page
	ViewData["Title"] = "Product - Success";
	Layout = "~/Views/Shared/_Layout.cshtml";

}

<!-- Success message -->
<h2>Product Created!</h2>
<p>your product has been successfully submitted!</p>
<a asp-action="Create">Create Another Product</a>
